.element {
    border-width: 2px;
    border-style: ridge;
    border-color: black;
    border-radius: 20px;
    padding: 10px;
    margin: 25px;
    box-shadow: 13px 12px 25px -4px rgba(0, 0, 0, 1);
    line-height: 1.5;
}
